<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buzzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45FD368B1CDAD677000163A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45FD36A21CDAD677000163A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45FD36AD1CDAD677000163A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
